<div class="row accountPage">
  <div class="row">
    <h3 class="text-grey">Profile Details</h3>
  </div>
  <div class="row container">
    <div class="card hoverable">
      <table class=" striped responsive-table centered">
        <tr>
          <td>
            <b>Name</b>
          </td>
          <td>
            User name
          </td>
        </tr>
        <tr>
          <td>
            <b>Email</b>
          </td>
          <td>
            xxx@xxxx.xxx
          </td>
        </tr>
        <tr>
          <td>
            <b>Phone Number</b>
          </td>
          <td>
            +91 9xxx xxx xxx
          </td>
        </tr>
        <tr>
          <td>
            <b>Nick Name</b>
          </td>
          <td>
            nick
          </td>
        </tr>
        <tr>
          <td>
            <b>Role</b>
          </td>
          <td>
            Some role
          </td>
        </tr>
      </table>
    </div>
  </div>

  <h3 class="text-grey">Update Password</h3>
  <div class="row container">
    <div class="card form hoverable">
      <form (ngSubmit)="submitForm() " [formGroup]="resetPasswordForm" novalidate>
        <div class="form-content">
          <label>
            Enter Old Password:
            <input type="text" formControlName="oldPassword" class="sd-form-control">
          </label>
          <label>
            Enter New Password:
            <input type="text" formControlName="newPassword" class="sd-form-control">
          </label>
          <label>
            Confirm New Password:
            <input type="text" formControlName="confirmPassword" class="sd-form-control">
          </label>
          <div class="form-submit">
            <button class="center-align btn waves-effect waves-light" type="submit ">
              Update Password
            </button>
          </div>
        </div>
      </form>
    </div>
 </div>
</div>
