<form enctype="multipart/form-data" class="container" [formGroup]="uploadForm" action="https://yugma-ut.appspot-preview.com/management/4049858197/picture"  method="POST">
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple name="file" formControlName="file" (change)="postFile($event)" >
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files"  >
      </div>
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
    <button (click)="readImage()">REad</button>    
  </form>