<form enctype="multipart/form-data" class="container" [formGroup]="uploadForm" >
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" multiple name="file" formControlName="file" (change)="postFile($event)" >
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files"  >
      </div>
      <div *ngFor=" let f of files; let i=index">
        <p style="float: left;">{{i + 1 }}) {{f.name}} </p>
        <a class="btn-floating green" (click)="upload(f)"><i class="material-icons">publish</i></a>                
      </div>
    </div>   
  </form>