<h3>All Complaints</h3>
<loader [condition]="!complaints"></loader>
<table class="bordered">
  <thead>
    <tr>
      <th></th>
      <th data-field="id">Title</th>
      <th data-field="name">Status</th>
      <th data-field="price">Priority</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of complaints; let i = index;">
      <td><button (click)="openModal(c)" class="btn">View</button></td>
      <td>{{c.title}}</td>
      <td>{{c.statusName}}</td>
      <td>{{c.priorityName}}</td>
    </tr>
  </tbody>
</table>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{complaint.title}}</h4>
    <p>Status: {{complaint.statusName}}</p>
    <p *ngIf="!complaint.anonymous">Anonymous: {{complaint.anonymous}}</p>
    <p *ngIf="complaint.assignedEmployeeName">Assigned To: {{complaint.assignedEmployeeName}}</p>
    <p *ngIf="complaint.againstEmployeeName">Against Employee Name: {{complaint.againstEmployeeName}}</p>
    <p *ngIf="complaint.againstCategoryName && !complaint.againstEmployeeName">Against Category Name: {{complaint.againstCategoryName}}</p>
    <p>Priority: {{complaint.priorityName}}</p>
    <p>Root Cause: {{complaint.rca}}</p>
    <p *ngIf="!complaint.anonymous">Student Name: {{complaint.studentName}}</p>
    <p *ngIf="!complaint.anonymous">Standard: {{complaint.studentStandardName}}</p>
    <p>{{complaint.description}}</p>
  </div>
  <div class="modal-footer">
    <button  class="waves-effect waves-light btn"><i class="material-icons left">clear</i>Close</button>&nbsp;
    <button  class="waves-effect waves-light btn"><i class="material-icons left">create</i>Edit</button>&nbsp;
    <button  class="waves-effect waves-light btn"><i class="material-icons left">comment</i>Comment</button>
  </div>
</div>
