
<div class="table-content">

  <div class="row table-title-box">
    <div class="col l10 s6 col1">
      All <span class="table-title-text">Complaints</span>
      <i class="material-icons icon-button right col2">replay</i>
    </div>
    <div class="col l2 s6 col-l">
      <a class="col2">
      <b> + </b> add Complain
      </a>
    </div>
  </div>

  <div class="row">
    <form class="col s12 l12">
      <div class="row">
        <div class="col">
        </div>
        <div class="input-field col s6 l4 right">
          <input id="icon_telephone" placeholder="Search" type="text" class="validate searchBox">
          <!--<label for="icon_telephone">Search<i class="tiny material-icons">search</i></label>-->
        </div>
      </div>
    </form>
  </div>
  <table class="highlight bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th data-field="id">Title</th>
        <th data-field="price">StudentName</th>
        <th data-field="name">Status</th>
        <th data-field="price">Priority</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of complaints; let i = index;">
        <td (click)="openModal(c)" class="action"><span class="cid">{{c.id}}</span></td>
        <td>{{c.title}}</td>
        <td>{{c.studentName}}</td>
        <td><span [style.background]="c.statusColor" class="badge">{{c.statusName}}</span></td>
        <td>{{c.priorityName}}</td>
        <td><a (click)="openEditModal(c)" class="action">EDIT</a></td>
        <td><a class="action">COMMENT</a></td>
      </tr>
    </tbody>
  </table>
  <div class="row loader">
    <loader class="col l7 s7 right valign" [condition]="!complaints"></loader>
  </div>
  <div class="row">
    <div class="col l12 s12">
      <button (click)="nextComplaint()" class="btn right nav-btn" [disabled]="EmptyComplaints">Next</button>
      <button (click)="previousComplaint()" class="btn nav-btn right" [disabled]="currentPage === 1">Previous</button>
    </div>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>{{complaint.title}}</h4>
    <p>Status: {{complaint.statusName}}</p>
    <p *ngIf="!complaint.anonymous">Anonymous: {{complaint.anonymous}}</p>
    <p *ngIf="complaint.assignedEmployeeName">Assigned To: {{complaint.assignedEmployeeName}}</p>
    <p *ngIf="complaint.againstEmployeeName">Against Employee Name: {{complaint.againstEmployeeName}}</p>
    <p *ngIf="complaint.againstCategoryName && !complaint.againstEmployeeName">Against Category Name: {{complaint.againstCategoryName}}</p>
    <p>Priority: {{complaint.priorityName}}</p>
    <p>Root Cause: {{complaint.rca}}</p>
    <p *ngIf="!complaint.anonymous">Student Name: {{complaint.studentName}}</p>
    <p *ngIf="!complaint.anonymous">Standard: {{complaint.studentStandardName}}</p>
    <p>{{complaint.description}}</p>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn"><i class="material-icons left">clear</i>Close</button>&nbsp;
    <button class="waves-effect waves-light btn"><i class="material-icons left">create</i>Edit</button>&nbsp;
    <button class="waves-effect waves-light btn"><i class="material-icons left">comment</i>Comment</button>
  </div>
</div>
