<nav class="tb-grey" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/']"> Home </a></li>
      <li><a [routerLink]="['/about']"> About </a></li>
      <li><a [routerLink]="['/github', 'angular']"> Github Repos </a></li>
      <li><a [routerLink]="['/contact']"> Contact Us </a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/']"> Home </a></li>
      <li><a [routerLink]="['/about']"> About </a></li>
      <li><a [routerLink]="['/github', 'angular']"> Github Repos </a></li>
      <li><a [routerLink]="['/contact']"> Contact Us </a></li>
    </ul>
    <a href="#" #selectElem data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<main style="min-height:650px">
	<router-outlet></router-outlet>
</main>
<footer class="page-footer" style="padding-top:0px">
  <div class="footer-copyright">
    <div class="container">
    Made by <a class="orange-text text-lighten-3" target="_blank" href="http://nxtlifetechnologies.com">NxtLife Team</a>
    </div>
  </div>
</footer>
