.visible {
  display: inherit !important;
}

.tb-grey {
  background-color: #424242 !important;
}

.userView {
  background-color: #424242;
}

.userView .circle{
  width:150px !important;
  height:150px !important;
}

.align-center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.userView .email{
  font-size:12px;
}

.userView .name{
  font-size:14px;
  font-weight:bold;
}

header, main, footer {
  padding-left: 340px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}
