<nav class="tb-grey" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['/']"> Home </a></li>
      <li><a [routerLink]="['/about']"> About </a></li>
      <li><a [routerLink]="['/github', 'angular']"> Github Repos </a></li>
      <li><a [routerLink]="['/contact']"> Contact Us </a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav">
      <li><a [routerLink]="['/']"> Home </a></li>
      <li><a [routerLink]="['/about']"> About </a></li>
      <li><a [routerLink]="['/github', 'angular']"> Github Repos </a></li>
      <li><a [routerLink]="['/contact']"> Contact Us </a></li>
    </ul>
    <a href="#" #selectElem data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<h3>
  Angular 2 Seed
</h3>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
  © 2016
</footer>
