<div class="row flip-cards">

  <div class="col l3 s12 flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front pink lighten-1">
        <div class="valign-wrapper text-white">
          <h5 class="valign">Front</h5>
        </div>
      </div>
      <div class="back pink lighten-1">
        <div class="valign-wrapper text-white">
          <h5 class="valign">
            Back View
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col l3 s12 flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front  teal lighten-1">
        <div class="valign-wrapper text-white">
          <h5 class="valign">Front</h5>
        </div>
      </div>
      <div class="back teal lighten-1">
        <div class="valign-wrapper text-white">
          <h5 class="valign">
            Back View
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col l3 s12 flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front grey darken-3">
        <div class="valign-wrapper text-white">
          <h5 class="valign">Front</h5>
        </div>
      </div>
      <div class="back grey darken-3">
        <div class="valign-wrapper text-white">
          <h5 class="valign">
            Back View
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col l3 s12 flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front  light-blue darken-3">
        <div class="valign-wrapper text-white">
          <h5 class="valign">Front</h5>
        </div>
      </div>
      <div class="back light-blue darken-3">
        <div class="valign-wrapper text-white">
          <h5 class="valign">
            Back View
          </h5>
        </div>
      </div>
    </div>
  </div>

</div>


<div>
  <div class="row">
    <div class="col l6 s12">
      <div class="card hoverable ">
        <i data-target="graph4" class="material-icons icon-button">aspect_ratio</i>
        <div class="graph-table-cell" GoogleChart id="complaint_chart_by_status" [chartData]="complaintByStatus" [chartOptions]="pie_ChartOptions"
          chartType="PieChart" (onSelected)="onSelected($event)"> </div>
      </div>
    </div>

    <div class="col l6 s12">
      <div class="card hoverable ">
        <i data-target="graph4" class="material-icons icon-button">aspect_ratio</i>
        <div class="graph-table-cell" GoogleChart id="chart_of_below_permance" [chartData]="belowPerformance" [chartOptions]="belowPerformanceChartOptions"
          chartType="PieChart" (onSelected)="onSelected($event)"> </div>
      </div>
    </div>

    <div class="col l6 s12">
      <div class="card hoverable ">
        <i data-target="graph4" class="material-icons icon-button">aspect_ratio</i>
        <div class="graph-table-cell" GoogleChart id="chart_by_program_standard" [chartData]="complaintByProgramAndStandard"
          [chartOptions]="ProgramAndStandardChartOptions" chartType="BarChart" (onSelected)="onSelected($event)"> </div>
      </div>
    </div>

    <div class="col l6 s12">
      <div class="card hoverable">
        <i data-target="graph4" class="material-icons icon-button">aspect_ratio</i>
        <div class=" graph-table-cell" GoogleChart id="chart_by_category_status" [chartData]="complaintByCategoryAndStatus" [chartOptions]="categoryAndStatusChartOptions"
          chartType="BarChart" (onSelected)="onSelected($event)"> </div>
      </div>
    </div>

    <div class="col l6 s12">
      <div class="card hoverable ">
        <i data-target="graph4" class="material-icons icon-button">aspect_ratio</i>
        <div class="graph-table-cell" GoogleChart id="plan_chart" [chartData]="plansOfBelowPerformer" [chartOptions]="plansChartOptions"
          chartType="ColumnChart" (onSelected)="onSelected($event)"> </div>
      </div>
    </div>

  </div>
</div>



<div id="graph4" class="modal" style="height:500px">
  <i class="material-icons modal-close right icon-button">call_received</i>
  <div class="modal-content">
    <h4>Graph Name</h4>
    <div GoogleChart [chartData]="complaintByCategoryAndStatus" [chartOptions]="categoryAndStatusChartOptions" chartType="BarChart"
      (onSelected)="onSelected($event)"> </div>
  </div>
</div>