.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  margin-left:0px;
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 230px;
	height: 110px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
}
.peach{
  	background: peachpuff;
}
.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flip-cards{
  margin-top:30px;
}
.text-white{
  color:white;
}


.graph-table-cell{
  height: 400px; 
  width: 100%;
  float:none
}
#graph4{
      height: 100vh;
    width: 90vw;
}
.icon-button{
  margin-top:10px;
  margin-left:10px;
  margin-right:10px;
}
.icon-button:hover{
  color:orange;
}
.modal{
	background:white;
}
.card-image{
	display:block;
	width:80px;
	    margin-left: 50px;
    
}
.c1{
	margin-top:30px;
	text-align:center;
}
.collapsible-header{
	font-size: 25px;
  color: #26a69a;
}
.collapsible-header:hover{
	color:orange;
}